<div id = "navbar">
  <h1>Welcome!</h1>
</div>
<div id = "header">
  <h1>
    {{ title }}'s Portfolio Page
  </h1>
  <img alt="Kristopher Lea" src="../assets/images/KristopherLea2.jpg">
  <h3 class = "city">
    {{city}}
  </h3>
  <h5 class = "tagLine">
    {{tagLine}}
  </h5>
  <p class="aboutMe">
    {{aboutMe}}
  </p>
</div>
<div id = "footer">
  <div class = "navbar">
    <div class = "container">
      <div class = "container-row">
        <div>
         <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
         <a href="https://www.linkedin.com/in/kristopher-lea-b375a3bb/">Click Here to access my LinkedIn</a>
         </div>
         <div>
         <img src="https://img.icons8.com/doodle/48/000000/github--v1.png"/>
         <a href="https://github.com/KristopherLea">Click here to access my Github</a>
          </div>
          <div>
          <img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/>
          <a href="https://www.facebook.com/kristopher.lea/">Click Here to access my Facebook</a>
         </div>
      </div>
     
    </div>
  </div>
</div>
